namespace: loki
resources:
- loki.yml
#- promtail.yml
#- ingress.yml

configMapGenerator:
- name: loki
  files:
  - config.yml=loki-config.yml
- name: promtail
  files:
  - config.yml=promtail-config.yml
generatorOptions:
  labels:
    generator: kustomize
