namespace: argo
bases:
- ../base
resources:
- deploy.yml
- ingress.yml
- project-default.yml
patchesStrategicMerge:
- patch_server.yml
configMapGenerator:
- name: argocd-gpg-keys-cm
  behavior: merge
  files:
  - 953AD75A472DA78A
- name: argocd-cm
  behavior: merge
  files:
  - repositories
- name: argocd-cmd-params-cm
  behavior: merge
  literals:
  - server.insecure=true
secretGenerator:
- name: argocd-secret
  behavior: merge
  literals:
  # paper
  - admin.password=$2y$05$alyL/ycP6XCft/nZaUUvA.knbSFWhx2PL1ZqZk3Ax0xvUSPMKZdCa
  files:
  - repositories

images:
- name: quay.io/argoproj/argocd
  newName: quay.io/argoproj/argocd
  newTag: v2.4.11
